# Bit Browser Local API / Playwright CDP
# BIT_BROWSER_API_URL="http://127.0.0.1:54346"
# BIT_BROWSER_NAME="openai-register"
# BIT_BROWSER_ID=""
# BIT_BROWSER_HEADLESS="false"
# BIT_BROWSER_CLOSE_WAIT="5"
# BROWSER_TIMEOUT="30000"

# outlook.tw anonymous mailbox
# OUTLOOK_TW_BASE_URL="https://outlook.tw"
# OUTLOOK_TW_USERNAME_LENGTH="8"
# OUTLOOK_TW_DOMAIN_INDEX="0"
# OUTLOOK_TW_POLL_INTERVAL="3"
# OUTLOOK_TW_REQUEST_TIMEOUT="30"
# OUTLOOK_TW_MAX_WAIT="300"
